.jumbotron {
    width:400px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
}

.table {
    margin-top:15px
}

.form-control {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px; 
}

.selecionado{
    background-color:#BBC9FC;
}

.negrito {

    font-weight:bold;
}